.popup__input-container {
    position: relative;
    margin-bottom: 35px;
  }
  
  .popup__error {
    color: #FF3333;
    font-size: 12px;
    line-height: 1.2;
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .popup__error_visible {
    opacity: 1;
  }
  
  .popup__input:invalid {
    border-color: #FF3333;
  }
  
  .popup__button_disabled {
    background-color: #fff;
    color: #C4C4C4;
    cursor: default;
    border: #000000 solid 0.5px;
  }
  
  .popup__button_disabled:hover {
    background-color: #F6F6F6;
  }